    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Driving AI Adoption</h2>
                <h1>Rocketing business into the future with AI technology</h1>
                <h2>Accelerating Digital Success</h2>
                <h1>Embracing change enhance customer experiences</h1>
                <h2>Boosting Cloud Integration</h2>
                <h1>Empowering businesses with seamless cloud solutions</h1>
            </div>
        </div>
    </section>