    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Check Me Out</h2>
                    <p>You can learn more about me on my personal page.</a></p>
                    <a href="https://nathaniel-young.com/" class="btn btn-lg" style="color:white">Visit My Personal Page</a>
                </div>
            </div>
        </div>
    </section>