    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Lead Engineer and Founder: Nathaniel Young</h2>
                    <p>Over a decade of software experience in a wide range of industries</p>
                    <p>Your software and technology needs are my specialty</p>
                    <p>Feel free to explore</p>
                    <a href="https://nathaniel-young.com/" class="btn btn-lg" style="color:#9f11d4; background-color:black; border-color:#9f11d4">Visit nathaniel-young.com</a>
                </div>
            </div>
        </div>
    </section>