
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Enjoy my pet project:</h2>
                    <a style= "margin:5px;width:250px; background-color:black" class="btn btn-default btn-lg" href="https://apps.apple.com/us/app/arrowgrid/id1478205367">iOS App Store</a>
                    <br/>
                    <a style= "margin:5px;width:250px; background-color:black" class="btn btn-default btn-lg" href="https://play.google.com/store/apps/details?id=com.sagaciasoft.arrowgrid&hl=en&gl=US">Android App Store</a>
                    <iframe id="map" src="https://arrowgrid.sagaciasoft.com/" style="margin-top:50px; border:none;" height=800px width=100%></iframe>
                </div>
            </div>
        </div>
    </section>